.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: currentColor;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* header*/
.header-list {
  display: none;
}
.contacts {
  display: none;
}
.header {
  width: 100%;
  border-bottom: 1px solid #e7e9fc;
  background-color: #fff;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: block;
}
.header-logo-part {
  color: #2e2f42;
}
.button-menu {
  line-height: 0;
  background-color: transparent;
  padding-top: 16px;
  padding-bottom: 16px;
  border: none;
}
.icon-solid_menu {
  fill: #2e2f42;
}

.menu-modal-windows {
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  padding: 24px;
  transform: translateY(-100%); 
  transition: opacity 250ms transform 250ms cubic-bezier(0.4, 0, 0.2, 1) visibility 250ms;
  display: flex;
  flex-direction: column;
  opacity: 0;
  pointer-events: none;
 
}
.is-open{
    transform: translateY(0%);
    visibility: hidden; 
}
.modal-close-mob {
  position: fixed;
  top: 24px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border: 1px solid #2e2f42;
  border-radius: 50%;
  background-color: #e7e9fc;
  cursor: pointer;
  margin-bottom: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-menu-container{
  padding-top: 72px;
  padding-left: 16px;
  padding-right: 24px;
  padding-bottom: 40px;
}


.mob-list {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.mob-item-menu:not(:last-child) {
  margin-bottom: 40px;
}

.nav-mob-menu {
  margin-bottom: 168px;
}

.mob-link-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.mob-link-title:hover {
  color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link-title:focus {
  color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mob-item-menu:nth-child(1) .mob-link-title {
  position: relative;
  color: #404bbf;
}
.contacts-mob{
  margin-bottom: 48px;
}
.contacts-item-mob:nth-child(1) .contacts-link-mob {
  color: #404bbf;
}
.contacts-link:hover {
  color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:focus {
  color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link-mob {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-item-mob:not(:last-child) {
  margin-bottom: 24px;
}
.mob-social-icons {
  fill: #f4f4fd;
}
.mob-list-social {
  display: flex;
  gap: 40px;
}
.mob-link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mob-link-icons:hover {
  background-color: #31d0aa;
  transition-property: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-link-icons:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .button-menu {
    display: none;
  }
  .menu-modal-windows {
    display: none;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding: 0;
  }
  .header-link-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2);
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-container {
   display: flex;
  }
  .header-logo {
    margin-right: 120px;
    display: block;
  }

  .header-navigation {
    display: flex;
    justify-content: space-between;
    text-align: center;
  
  }
  .header-list {
    font-weight: 500;
  }
  .header-item-menu:nth-child(1) .header-link-title {
    position: relative;
    color: #404bbf;
  }
  .header-item-menu:nth-child(1) .header-link-title::after {
    position: absolute;
    display: block;
    content: "";
    border-radius: 2px;
    bottom: -1px;
    width: 48px;
    height: 4px;
    background: #404bbf;
  }
 
  .contacts-container {
    align-items: center;
       padding-top: 8px;
    padding-bottom: 8px;
  }
  .contacts {
    display: block;
    font-size: 16px;
    line-height: 150%;
  }
  .contacts-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
   
  }
  .contacts-item {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
  }
  .contacts-link {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    display: block;
    padding-top: 6px;
    padding-bottom: 6px;

  }
}

@media screen and (min-width: 1158px) {
  .header-container {
    display: flex;
    align-items: center;
  }
  .header-navigation {
    align-items: center;
  }
  .header {
    margin: 0 auto;
  }
  .header-logo {
    font-weight: 700;
    margin-right: 76px;
  }
  .header-link-title {
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts-container {
    display: flex;
    gap: 40px;
  }
  .contacts {
    font-style: normal;
  }
  .contacts-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
  }
}

/* Hero */

.hero {
  padding: 72px 0;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/mob-hero.jpg);
  max-width: 320px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/mob-hero2x.jpg);
  }
}

.hero-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto;
  margin-bottom: 72px;
}

.hero-button-service:hover,
.service-button-type:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button-service {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
  gap: 10px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .hero {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/tap-hero.jpg);
    max-width: 768px;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/tap-hero2x.jpg);
    }
  }

  .hero-head {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/desktop-hero.jpg);
    max-width: 1440px;
    background-position: center;
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/desktop-hero2x.jpg);
    }
  }

  .hero-head {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;
  }
}

/* about us*/
.about {
  padding: 96px 0 96px;
}

.about-icon {
  display: none;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
}

.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.about-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media screen and (min-width: 768px) {
  .about-list {
    gap: 72px 24px;
  }
  .about-item {
    width: calc((100% - 24px) / 2);
  }
  .about-title {
    font-weight: 700;
    color: #2e2f42;
    text-align: start;
  }
}

@media screen and (min-width: 1158px) {
  .about-icon {
    display: flex;
  }
  .about-item {
    gap: 24px;
    width: calc((100% - 72px) / 4);
  }
  .about-item:last-child {
    margin-right: 0;
  }
  .about-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
  .about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }
  .about-container {
    border: 1px solid #8e8f99;
    background: #f4f4fd;
    border-radius: 4px;
    width: 264px;
    height: 112px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
  }
}

/*our team*/

.team {
  background-color: #f4f4fd;
  padding: 96px 0 96px;
}
.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: 72px;
}
.wraper-team{
  padding: 32px 0 32px;
}
.team-item {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.team-caption-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 32px;
}
.team-text-copy {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
  margin-bottom: 8px;
}
.team-list-social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding-left: 16px;
  padding-right: 16px;
}
.team-link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-social-icons {
  fill: #f4f4fd;
}
.team-link-icons:hover {
  background-color: #404bbf;
  transition-property: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-link-icons:focus {
  background-color: #404bbf;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 64px;
    column-gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
  .team-item {
    width: calc((100% - 72px) / 4);
  }
  .team-item:last-child {
    margin-right: 0 auto;
  }
  .team-list {
    display: flex;
    gap: 24px;
  }
}

/* our portfolio*/

.portfolio {
  padding: 96px 0 96px 0;
}
.portfolio-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 72px;
}
.portfolio-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  row-gap: 72px;
}

.portfolio-caption {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.portfolio-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-container-wrap {
  position: relative;
  overflow: hidden;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-cover-text {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background: #4d5ae5;
  padding: 40px 32px;
  display: flex;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item:hover .portfolio-cover-text {
  transform: translateY(0%);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    flex-direction: row;
    justify-content: space-between;
    column-gap: 24px;
  }
  .portfolio-item {
    width: calc((100% - 24px) / 2);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@media screen and (min-width: 1158px) {
  .portfolio-list {
   row-gap: 48px;
  }
  .portfolio-item {
    width: calc((100% - 48px) / 3);
  }
}

/* footer*/

.footer {
  padding: 96px 0px;
  background: #2e2f42;
}
.container-footer-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.footer-container-logo {
  margin-bottom: 72px;
}

.footer-logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  text-align: center;
  display: block;
}
.footer-logo-part {
  color: #f4f4fd;
}
.footer-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 288px;
}
.footer-social-container{
  margin-bottom: 72px;
}
.footer-social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}
.footer-social-icons {
  fill: #f4f4fd;
}
.footer-list-social {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.footer-link-icons {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-link-icons:hover {
  background-color: #31d0aa;
  transition-property: inherit;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-icons:focus {
  background-color: #31d0aa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-form-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.subscribe-form-label{
  display: block;
  margin-bottom: 16px;
}

.footer-subscribe-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  text-align: center;
}

.subscribe-form-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 288px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
}
.subscribe-form-input::placeholder {
  color: #fff;
}

.button-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-subscribe-icon {
  fill: #fff;
  margin-left: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-logo {
    text-align: start;
  }
  .footer-text {
    max-width: 264px;
    text-align: start;
    padding: 0;
  }
  .footer-social-media{
    text-align: start;
  }
  .container-footer-wrap {
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
    column-gap: 24px;
    row-gap: 72px;
    padding-left: 108px;
  }

  .subscribe-form-footer {
    align-items: start;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .subscribe-form-input{
    width: 264px;
  }
  .footer-subscribe-title {
    text-align: start;
  }
  .footer-subscribe-wraper {
    display: flex;
    gap: 24px;
  }
}

@media screen and (min-width: 1158px) {
 
  .container-footer-wrap {
    padding-left: 16px;
    gap: 0px;
    height: 112px;
  }
  .footer-container-logo{
    margin-right: 120px;
  }
  .footer-social-container{
    margin: 0 auto;
  }

}

/* backdrop*/
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-color: rgba(46, 47, 66, 0.4);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 584px;
    max-width: 408px;
    width: calc(100% - 32px);
    border-radius: 4px;
    padding: 72px 16px 16px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background: #fcfcfc;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal-close-button {
  position: fixed;
  top: 24px;
  right: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button:focus {
  background-color: #404bbf;
  border: none;
  border-color: #404bbf;
}

.modal-close-button:focus .button-close-icon {
  fill: #ffffff;
}

.modal-close-button:hover .button-close-icon {
  fill: #ffffff;
}
.button-close-icon {
  width: 8px;
  height: 8px;
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-title-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  overflow-wrap: break-word;
  margin: 0 auto;
  margin-bottom: 16px;
}
.modal-input-user {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}
.modal-input-user:hover {
  border: 1px solid #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-user:focus {
  border-color: #4d5ae5;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input-user:focus + .modal-icons-user {
  fill: #4d5ae5;
}
.modal-input-user::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.container-modal-box {
  position: relative;
  margin-bottom: 8px;
}

.modal-form-input {
  position: relative;
}

.modal-icons-user {
  position: absolute;
  width: 18px;
  height: 24px;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.container-modal-comment {
  position: relative;
  margin-bottom: 16px;
}
.modal-text-user {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  padding: 8px 16px;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  resize: none;
}
.modal-text-user:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-wrap {
  margin-bottom: 24px;
}
.modal-accept {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.user-accept-vector {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.link-modal-accept {
  line-height: 1.33;
  text-decoration: underline;
  text-transform: capitalize;
  color: #4d5ae5;
}
.modal-checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
}
.modal-accept{
    display: flex;
    align-items: center;

}
.user-privacy-icon {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  margin-right: 8px;
  fill: transparent;
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked + .modal-accept .user-privacy-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.button-submit-send {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: 0 auto;
  display: block;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1158px){
  .modal{
    padding: 72px 24px 24px;
  }
}
